
.mid_left_block2
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
}
.header1
{
	font-size: 22px;
}
.forwardSlash
{
	display:inline-block;
}
.pages
{
	font-size: 18px;
	display:inline-block;
	margin-left: 101px;
}
.mid_left_block1 p
{
	font-size: 15px;
	text-align:left;
}
.mid_right
{
	display:inline-block;
	float:right;
	width: 189px;
	vertical-align:top;
}
.mid_center
{
	display:inline-block;
	width: 463px;
	margin-left: 0px;
	margin-top: 0;
	margin-right: 0px;
	vertical-align:top;
}
.mid_left
{
	display:inline-block;
	width: 285px;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 15px;
	padding-top: 0px;
	padding-right: 14px;
}
.image2
{
	width: 194px;
	float:right;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 27px;
}
.top2 p
{
	display:inline-block;
	width: 173px;
	margin-left: 25px;
}
.image1
{
	width: 69px;
	display:inline-block;
	margin-left: 65px;
	margin-top: -15px;
	margin-bottom: 0px;
}
.title
{
	font-size: 65px;
	text-transform: uppercase;
	display:inline-block;
	padding-left: 0px;
	margin-left: 1px;
	margin-bottom: 0px;
	margin-top: 33px;
}
.main
{
	height: 590px;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 980px;
	margin-left: auto;
}
.top1_left
{
	display:inline-block;
}
.top1_right
{
	display:inline-block;
	float:right;
}
.top1 a
{
	font-size: 17px;
	margin-left: 5px;
}
.top1 img
{
	width: 28px;
}
.top3 img
{
	width: 24px;
}
.top3 a
{
	font-size: 13px;
	margin-left: 13px;
}
.top1
{
	font-size: 17px;
	padding-left: 0px;
	padding-top: 4px;
}
.top2
{
	padding-top: 7px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.top3
{
	padding-top: 12px;
	padding-bottom: 7px;
	padding-left: 0px;
	margin-top: 0px;
}
.dayNews
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 21px;
}
.shortHeader
{
}
.midPic
{
	width: 100%;
}