<div class="main techID_0 closed">
	<div class="top1 techID_1 closed display_off">
		<div class="top1_1 horizontal_list techID_2 closed display_off">
			<a href="javascript:void(0)" class="techID_3 closed display_off">
				<img src="img/icon.png" class="techID_4 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_5 closed display_off">
				<img src="img/icon.png" class="techID_6 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_7 closed display_off">
				<img src="img/icon.png" class="techID_8 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_9 closed display_off">укр
			</a>
			<p class="techID_10 closed display_off">/
			</p>
			<a href="javascript:void(0)" class="techID_11 closed display_off">рус
			</a>
		</div>
		<img src="img/img_preset_wide.png" class="labelImg techID_12 closed display_off">
		</img>
		<div class="top1_2 horizontal_list techID_13 closed display_off">
			<a href="javascript:void(0)" class="techID_14 closed display_off">ВХОД
			</a>
			<p class="techID_15 closed display_off">/
			</p>
			<a href="javascript:void(0)" class="techID_16 closed display_off">РЕГИСТРАЦИЯ
			</a>
			<a href="javascript:void(0)" class="techID_17 closed display_off">
				<img src="img/icon.png" class="techID_18 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_19 closed display_off">+380 (44) 33 77 200
			</a>
		</div>
	</div>
	<div class="top2 techID_20 closed display_off">
		<a href="javascript:void(0)" class="techID_21 closed display_off">она
		</a>
		<p class="techID_22 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_23 closed display_off">он
		</a>
		<p class="techID_24 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_25 closed display_off">дети
		</a>
		<p class="techID_26 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_27 closed display_off">новинки
		</a>
		<p class="techID_28 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_29 closed display_off">премиум
		</a>
		<p class="techID_30 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_31 closed display_off">бренды
		</a>
		<p class="techID_32 closed display_off">/
		</p>
		<a href="javascript:void(0)" class="techID_33 closed display_off">sale
		</a>
		<p class="techID_34 closed display_off">/
		</p>
		<div class="searchDiv techID_35 closed display_off">
			<a href="javascript:void(0)" class="techID_36 closed display_off">поиск
			</a>
			<a href="javascript:void(0)" class="techID_37 closed display_off">
				<img src="img/icon.png" class="techID_38 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_39 closed display_off">
				<img src="img/icon.png" class="techID_40 closed display_off">
				</img>
			</a>
		</div>
	</div>
	<div class="top3 techID_41 closed display_off">
		<div class="top3_1 inline_block techID_42 closed display_off">
			<img src="img/img_preset.png" class="techID_43 closed display_off">
			</img>
			<img src="img/img_preset.png" class="techID_44 closed display_off">
			</img>
		</div>
		<div class="top3_2 inline_block techID_45 closed display_off">
			<img src="img/img_preset.png" class="techID_46 closed display_off">
			</img>
		</div>
		<div class="top3_3 inline_block techID_47 closed display_off">
			<img src="img/img_preset.png" class="techID_48 closed display_off">
			</img>
			<img src="img/img_preset.png" class="techID_49 closed display_off">
			</img>
		</div>
	</div>
</div>

