
.top2 p
{
	display:inline-block;
	margin-right: 19px;
	width: 10px;
}
.top2 a
{
	display:inline-block;
	font-size: 27px;
}
.top2
{
	padding-left: 0px;
	padding-top: 32px;
	padding-bottom: 25px;
}
.labelImg
{
	margin-left: 101px;
	height: 110px;
	width: 306px;
}
.top1_2
{
	float:right;
	font-size: 15px;
	width: 360px;
}
.horizontal_list
{
	display:inline-block;
	padding-left: 0px;
	padding-top: 35px;
}
.main
{
	height: 599px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.horizontal_list p
{
	width: 7px;
	display:inline-block;
}
.searchDiv
{
	display:inline-block;
	float:right;
	margin-right: 0px;
	margin-top: -7px;
}
.top1_1
{
	font-size: 19px;
	display:inline;
}
.inline_block
{
	display:inline-block;
}
.top3_3
{
	width: 25%;
	text-align:center;
	vertical-align:top;
	float:right;
	padding: 0px;
}
.top3_2
{
	width: 45%;
	text-align:center;
	vertical-align:top;
}
.top3_1
{
	width: 25%;
	text-align:center;
	vertical-align:top;
}
.top3_2 img
{
	width: 561px;
}
.top3_1 img
{
	width: 255px;
	padding-top: 31px;
}
.top3_3 img
{
	width: 255px;
	padding-top: 31px;
}