<div class="test container">
	<div class="row">
		<div class="col3 col-md-3">col3
		</div>
		<div class="col3 col-md-3">col3
		</div>
		<div class="col3 col-md-3">col3
		</div>
		<div class="col3 col-md-3">col3
		</div>
	</div>
</div>
