.test {
    padding-top:25px;
    background-color: #c7ddef;
    font-size:50px;
    text-align: center;
    padding: 0 25% 0 25%;
}
.col3 {
    background-color: #D8D8D8;
    border : 1px solid #7f859f ;
}