
.labelText
{
	font-size: 67px;
	width: 340px;
}
.link_thumbnail
{
	width: 40px;
	font-size: 20px;
	border: 1px solid white;
	min-width: 40px;
}
.leftPart
{
	float:left;
}
.rightPart
{
	float:right;
}
.default_container
{
	width:auto;
}
.headerImg
{
}
