<div class="default_container container top1">
	<div class="divPreset leftPart">
		<a href="javascript:void(0)" class="link_thumbnail">link
		</a>
		<a href="javascript:void(0)" class="link_thumbnail">link
		</a>
		<a href="javascript:void(0)" class="link_thumbnail">link
		</a>
		<a href="javascript:void(0)" class="link_thumbnail">
			<img src="img/icon.png" class="">
			</a>
			<a href="javascript:void(0)" class="link_thumbnail">
				<img src="img/icon.png" class="">
				</a>
			</div>
			<div class="divPreset rightPart">
				<a href="javascript:void(0)" class="link_thumbnail">link
				</a>
				<a href="javascript:void(0)" class="link_thumbnail">
					<img src="img/icon.png" class="">
					</a>
					<a href="javascript:void(0)" class="link_thumbnail">
						<img src="img/icon.png" class="">
						</a>
						<a href="javascript:void(0)" class="link_thumbnail">
							<img src="img/icon.png" class="">
							</a>
							<a href="javascript:void(0)" class="link_thumbnail">
								<img src="img/icon.png" class="">
								</a>
								<a href="javascript:void(0)" class="link_thumbnail">
									<img src="img/icon.png" class="">
									</a>
									<a href="javascript:void(0)" class="link_thumbnail">
										<img src="img/icon.png" class="">
										</a>
										<a href="javascript:void(0)" class="link_thumbnail">
											<img src="img/icon.png" class="">
											</a>
										</div>
									</div>
									<div class="container top2">
										<div class="labelText"> Газета.Ru
										</div>
										<img src="img/img_preset_tall.png" class="headerImg">
										</div>
										
