


<div class="footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, optio..</p>
            </div>

            <div class="col-md-6 col-xs-6">
                <h3>Contact</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repellat, voluptatum!</p>
            </div>
        </div>

        <div class="row">
            <p class="copyright">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <p class="copyright2">Lorem ipsum dolor.</p>
        </div>


        <ul>
            <li><a class="transition menu" href="../home/">Home</a></li>
            <li><a class="transition menu" href="../work/">Work</a></li>
            <li><a class="transition menu" href="../blog/">Blog</a></li>
            <li><a class="transition menu" href="../prospects/">Pics</a></li>
        </ul>
    </div>


</div>






<style>






    .footer {
        padding: 100px 25% 70px ;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

    }
    .footer h3, .footer p {
        color: #999;
        text-align: left;
    }
    .footer a {
        color: #999;
        padding-left:5px;
        padding-right:5px;
        font-size:12px;
    }
    .footer h3 {
        font-size:17px;
    }
    .footer p.copyright, p.copyright2  {
        text-align: center;
        margin:0;
        font-size:12px;

    }
    .footer p.copyright {
        padding-top:80px;
    }
    .footer p.copyright2 {
        padding-bottom:33px;
    }
    .footer ul {
        padding:0;
        text-align: center;
    }
    .footer li {
        display:inline;
    }


</style>

