<div class="main techID_0 closed">
	<div class="top1 techID_1 closed display_off">
		<div class="top1_left techID_2 closed display_off">
			<a href="javascript:void(0)" class="techID_3 closed display_off">котировки
			</a>
			<a href="javascript:void(0)" class="techID_4 closed display_off">пенсионный советник
			</a>
			<a href="javascript:void(0)" class="techID_5 closed display_off">
				<img src="img/icon.png" class="techID_6 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_7 closed display_off">финам
			</a>
			<a href="javascript:void(0)" class="techID_8 closed display_off">$63.79
			</a>
			<a href="javascript:void(0)" class="techID_9 closed display_off">€70.48
			</a>
		</div>
		<div class="top1_right techID_10 closed display_off">
			<a href="javascript:void(0)" class="techID_11 closed display_off">Москва
			</a>
			<a href="javascript:void(0)" class="techID_12 closed display_off">
				<img src="img/icon.png" class="techID_13 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_14 closed display_off"> +1°C
			</a>
			<a href="javascript:void(0)" class="techID_15 closed display_off">
				<img src="img/icon.png" class="techID_16 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_17 closed display_off">
				<img src="img/icon.png" class="techID_18 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_19 closed display_off">
				<img src="img/icon.png" class="techID_20 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_21 closed display_off">
				<img src="img/icon.png" class="techID_22 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_23 closed display_off">
				<img src="img/icon.png" class="techID_24 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_25 closed display_off">
				<img src="img/icon.png" class="techID_26 closed display_off">
				</img>
			</a>
			<a href="javascript:void(0)" class="techID_27 closed display_off">
				<img src="img/icon.png" class="techID_28 closed display_off">
				</img>
			</a>
		</div>
	</div>
	<div class="top2 techID_29 closed display_off">
		<a href="javascript:void(0)" class="title techID_30 closed display_off"> Газета.Ru
		</a>
		<img src="img/img_preset_tall.png" class="image1 techID_31 closed display_off">
		</img>
		<p class="techID_32 closed display_off"> Как интернет оказался  под колпаком у ФСБ
		</p>
		<img src="img/img_preset_wide.png" class="image2 techID_33 closed display_off">
		</img>
	</div>
	<div class="top3 techID_34 closed display_off">
		<a href="javascript:void(0)" class="techID_35 closed display_off">
			<img src="img/icon.png" class="techID_36 closed display_off">
			</img>
		</a>
		<a href="javascript:void(0)" class="techID_37 closed display_off">НОВОСТИ
		</a>
		<a href="javascript:void(0)" class="techID_38 closed display_off">ПОЛИТИКА
		</a>
		<a href="javascript:void(0)" class="techID_39 closed display_off">БИЗНЕС
		</a>
		<a href="javascript:void(0)" class="techID_40 closed display_off">ОБЩЕСТВО
		</a>
		<a href="javascript:void(0)" class="techID_41 closed display_off">АРМИЯ
		</a>
		<a href="javascript:void(0)" class="techID_42 closed display_off">МНЕНИЯ
		</a>
		<a href="javascript:void(0)" class="techID_43 closed display_off">КУЛЬТУРА
		</a>
		<a href="javascript:void(0)" class="techID_44 closed display_off">НАУКА
		</a>
		<a href="javascript:void(0)" class="techID_45 closed display_off">ТЕХНОЛОГИИ
		</a>
		<a href="javascript:void(0)" class="techID_46 closed display_off">АВТО
		</a>
		<a href="javascript:void(0)" class="techID_47 closed display_off">СТИЛЬ
		</a>
		<a href="javascript:void(0)" class="techID_48 closed display_off">СПОРТ
		</a>
		<a href="javascript:void(0)" class="techID_49 closed display_off">
			<img src="img/icon.png" class="techID_50 closed display_off">
			</img>
		</a>
	</div>
	<div class="mid_left     techID_51 closed display_off">
		<div style="text-align: center;font-size:50px;color:#a5a5a5;font-weight:800;background-color: #c2dce0;padding: 10px;border: 1px solid black;" class="mid_left_block1  techID_52 closed display_off">div
		</div>
	</div>
	<div class="mid_center techID_53 closed display_off">div
	</div>
	<div class="mid_right techID_54 closed display_off">div
	</div>
</div>

