
.mid_right
{
	display:inline-block;
	float:right;
	width: 25%;
}
.mid_center
{
	display:inline-block;
	width: 49%;
}
.mid_left
{
	display:inline-block;
	width: 25%;
}
.image2
{
	width: 194px;
	float:right;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 27px;
}
.top2 p
{
	display:inline-block;
	width: 173px;
	margin-left: 25px;
}
.image1
{
	width: 69px;
	display:inline-block;
	margin-left: 65px;
	margin-top: -15px;
	margin-bottom: 0px;
}
.title
{
	font-size: 65px;
	text-transform: uppercase;
	display:inline-block;
	padding-left: 0px;
	margin-left: 1px;
	margin-bottom: 0px;
	margin-top: 33px;
}
.main
{
	height: 590px;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 980px;
}
.top1_left
{
	display:inline-block;
}
.top1_right
{
	display:inline-block;
	float:right;
}
.top1 a
{
	font-size: 17px;
	margin-left: 5px;
}
.top1 img
{
	width: 28px;
}
.top3 img
{
	width: 24px;
}
.top3 a
{
	font-size: 13px;
	margin-left: 13px;
}
.top1
{
	font-size: 17px;
	padding-left: 0px;
	padding-top: 4px;
}
.top2
{
	padding-top: 7px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.top3
{
	padding-top: 12px;
	padding-bottom: 7px;
	padding-left: 0px;
	margin-top: 0px;
}