body {
    font: 16px/1 Arial, Helvetica, sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
}



#editor_main{
    padding: 0;
    margin: 0;
    height: 92%;
    width: 100%;
    background-color: #515458;

}

/*menu panel*/
#editor_menu-panel{
    width: 100%;
    height: 80px;
    background: #515458;
    border: 5px solid #bfbfbf;
    margin: 0;
}

#editor_left-panel {
    display: inline-block;
    height: inherit;
    background:#385369;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    float: left;
    width: 270px;
    border: 3px solid #bfbfbf;
}

#editor_right-panel {
    display: inline-block;
    height: inherit;
    background:#697073;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    float: right;
    width: 250px;
    border: 3px solid #bfbfbf;
}

.central_section{
    height: 100%;
    background: #c1c3c3;
}

#editor_center-panel {
    display: inline-block;
    height:100%;
    width: calc(100% - 520px);
    margin: 0;
    padding: 0;
    border: 1px solid #bfbfbf;
}
#editor_page-area{
    display: inline-block;
    height: 70%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 5px solid #bfbfbf;

}
#editor_editor-pane{
    width:100%;
    height:30%;
}

#editor_html-editor{
    display:inline-block;
    float:left;
    height:100%;
    width:50%;
    border: 5px solid #bfbfbf;
    background:#DADADA;
}

#editor_css-editor{
    display:inline-block;
    float:right;
    height:100%;
    width:50%;

    border: 5px solid #bfbfbf;
    background:#DADADA;
}

#editor_htmlCode, #editor_cssCode{
    width:100%;
    height:100%;
    color: #e2e1d8;
    background-color: #3e4f54;

}
.editor_buttons{
    text-align: center;
    padding-top: 50px;
}

.btn{
    border-radius: 5px;
    background-color: #6690b9;
    color: white;
    display:inline-block;
    width: 80px;
    font-size: 18px;
}

.editor_removeInlineStyle{
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    font-size: 20px;
    color: bisque;
}

.editor_removeInlineStyle .btn{
    padding: 5px 5px;
}


#editor_presetList1,
#editor_presetList2,
#editor_presetList3{
    width: 95%;
    margin: 0;
    border-right: 7px solid #bfbfbf;
    margin-top: 30px;
    height: 300px;
    overflow-y: auto ;
    overflow-x: hidden;
    padding: 0;
    background-color: #ced7de;
}

#template_tabs .nav>li.active>a {
    text-align: center;
    color: white;
    background-color: #6690b9;
    font-size: 20px;
    padding: 5px 10px;;
}

#template_tabs .nav>li>a {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px 10px;;
}

#template_tabs .nav>li>a:hover {
    color: #7b3a3a;
}

#template_tabs .nav>li.active>a:hover {
    color: white;
}

#selectors_list,
#hierarchy{

    /*height: auto;*/
    height: 300px;
    background-color: #97b1b9;
    overflow-y: auto;
    overflow-x: auto;
    width: 95%;
    margin: 0;
    border-right: 7px solid #bfbfbf;
}

#hierarchy{

    height:100%;

}

#selectors_list p{
    margin: 5px 5px;
    background-color: #bad4dc;
    width: 160px;
    display: inline-block;
}

.selectors_delImage{

    display: inline-block;

}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: #FFF;
    color: #333;
    border-radius: 7px;
    padding: 0;
}


.custom-menu li {
    padding: 5px;
    cursor: pointer;
    list-style:none;
    height: 34px;
    text-align: center;

}

.custom-menu li:hover {
    background-color: #DEF;
}


#addSelectorWindow,
#editElementNameWindow{

    background: #c9dacf;
    width: 400px;
    border: 3px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;
}


.textField{

    width: 350px;
    margin: 10px 25px;
}


.addSelBtn,
#editElementNameWindow .btn{
    margin: 10px 40%;
}



.highest_priority{

    background-color: #d9dcc8 !important;

}

.highest_priority2{

    background-color: #7dd5ff !important;

}



#editor_loadWindow{
    background-color: #bfbfbf;
    position: absolute;
    top: 20%;
    left:30%;
    text-align: center;
}

#editor_loadWindow p{
    margin-top:10px;
}

#editor_loadWindowInnerPart{
    background-color: white;
    margin-top:10px;
    margin-bottom:30px;
    min-width:300px;
    height:200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#editor_loadWindowInnerPart ul{
    padding:0;
}

#editor_loadWindowInnerPart li{
    padding: 10px;
    list-style: none;
}

#editor_loadWindowInnerPart li:hover {
    background-color: #bce8f1;
}

#editor_presetList1 li,
#editor_presetList2 li,
#editor_presetList3 li{
    list-style: none;
    background-color: #bfbfbf;
    padding:0;
    margin: 5px 5px 5px 5px;

}

.editor_saveImage{

    position:absolute;
    top: 6px;
    left: 140px;
    width: 1em;
    background-color: inherit;
    border-radius: 5px;

    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.editor_saveImage_clicked{
    position:absolute;
    top: 6px;
    left: 140px;
    width: 1.3em;
    background-color: springgreen;
    border-radius: 5px;

    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}


.editor_delImage{
    position:absolute;
    top: 6px;
    left: 170px;
}

.editor_activeTemplate{
    background-color: #F1F1F1 !important;
}

.editor_itemLabel{
    height: 30px;
    text-align: center;
    padding-top: 5px;
    width:60%;
    display:inline-block;
    cursor: default; !important;
}

#editor_clone{
    position: absolute;
    z-index: 1000;
    /*width:100px;*/
    /*height: 50px;*/
    border-radius: 5px;
    background-color: #bfbfbf;
    pointer-events:none;
    opacity: 0.5;

    cursor: default; !important;

}

/* **************  left panel ************** */
hr {
    margin: 0;
}

.edit_mode{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}


.tools{

    margin-bottom: 10px;
}

.panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-title h3{
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-title a{
    text-decoration: none;
}

#collapse6{
    padding-left: 30px;
}


fieldset{
    text-align: center;
}

fieldset .ui-button{
    font-size: 12px;
    font-weight: 700;
    padding: 0px;
    padding-top: 7px;
    width: 70px;
    border-radius: 5px;
    height: 30px;
}

fieldset .tool_btn{
    height: 40px;
}





button.align_btn{
    text-align: center;
    width:40px;
    font-size: 0.8em !important;
    padding: 0;
    margin: -5px 0 0 0;
}




.Text label{
    font-size: 0.8em !important;
}

.width,
.Text,
.Align{
    padding: 20px 0 20px 0;
    margin: 0;
}


#assignClassOrID,
#addCssSelector{
    height: 30px;
}


#styleOutput{
    height: 100px;
}

#collapse6 p{
    margin-top: 10px;
    margin-bottom: 5px;
    color: bisque;
}

#collapse6{
    margin-top: 20px !important;
    margin-bottom: 50px;
}

.panel-heading{
    background-color: #BFBFBF;
}


.ui-accordion-content{
    padding:0 0 0 0!important;
}

.btn_block{
    margin-top: 10px;

}

#add_class,
#remove_class,
#add_selector,
#remove_selector{
    min-width:80px;

}

#step_section,
#value_type,
#elementNameDiv,
#showModeDiv,
#contextMenu{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 300px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#elementNameDiv{
    top: 5px;
    left: 0px;
    min-width: 200px;
    height: 70px;
    background-color: #616469;
    border-radius: 10px;

}

#showModeDiv{
    top: 20px;
    left: 320px;
    width: 120px;
}

#contextMenu{

    top: 20px;
    left: 400px;
    width: 100%;
}

#step_section,
#value_type{
    width: 200px;
    top: -20px;

}

#step_section{
    left: 50px;
}


#value_type{
    left: 240px;
}

.marg_pad{
    display: inline-block;
    position: absolute;
    left: 430px;
    width: 400px;
}

#text_context{
    display: inline-block;
    position: absolute;
    left: 390px;
    width: 300px;
}

.display_group,
.float_group,
.vertical_align_group,
.text_align_group{

    display: inline-block;
    position: absolute;
    left: 50px;
    width: 400px;

}

.display_group .btn,
.float_group .btn,
.vertical_align_group .btn,
.text_align_group .btn{

    font-size: 12px;
    font-weight: 700;
    padding: 0px;
    padding-top: 7px;
    width: 70px;
    border-radius: 5px;
    height: 30px;

}


#step_section p,
#value_type p,
#elementName,
#showMode{

    margin: 0px 0px 5px 0px;
    font-size: 20px;
    color: bisque;
}

#showModeDiv p{
    color: white;
}


#step_section .ui-button,
#value_type .ui-button{
    width: 50px;
    font-size: 11px;


}



.noselect {
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.noselect:focus {
    outline: none;
}


/* **************  left panel - editing ************** */

.highlighted{
    /*border: 1px solid white !important;*/
    background: rgb(94, 98, 101) !important;
    /*border-radius: 5px;*/
    /*width:100px;*/
    /*height:100px;*/
    /*z-index: 1000;*/
    /*position: absolute;*/
}




.check{
    border: 2px solid red;
    width:100px;
    height:100px;
    position: absolute;
    z-index: 1000;
}


/*bootstrap grid */

#grid_section{
    background: #DADADA;
    text-align: center;
}

#grid_section .ui-button{
    display: block;
    font-size: 15px;
    margin: 5px 0 5px 0;
    padding: 0;
    height: 40px;
    width:120px;
}

.col_width{
    margin: 10px 2px 0px 20px;
    padding: 0;
    width:80px;
    display: inline-block;
    float: left;
}


.col_offset{
    margin: 10px 2px 0px 10px;
    padding: 0;
    width:120px;
    display: inline-block;
    float: left;
}

.col_del{
    margin: 10px 2px 10px 5px;
    padding: 0;
    width:60px;
    display: inline-block;
    float: left;

}

.gridClassRemove{
    font-size: 18px;
    margin: 5px 0 10px 0;
    padding: 5px 0 0 0;
    width:120px;
    height: 35px;

}

.gridClassRemove .btn{
    background-color: #a6bace;
}

/*deafults for bootstrap components*/

.defaultView{

    width: auto;
    text-align: center;
    font-size:30px;
    background-color: #c2dce0;
    padding: 10px;
    border: 1px solid black;

}




#editedRule{

    color: white;
    padding: 10px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
}



.removeRule{

    padding: 5px;
    display: inline-block;
    margin-left: 50px;

}




.zeroRule{

    padding: 5px;
    display: inline-block;
    margin-left: 20px;

}



/* chierarchy elements */

.chierarchyElemExpander{

    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: #7884df;
    z-index: 1000;
    left: -20px;

}


.chierarchyElemExpanderOn{

    background-color: #dfacb3;

}


.chierarchyElemLabel{

    display: inline-block;
    position: relative;
    padding: 3px 7px;
    margin: 0;
    border-radius: 5px;
    background-color: #497a8a;
    text-align: center;
    font-size: 14px;
    color: white;
    width: auto;
    height: auto;
    min-width: 40px;

}


.chierarchyElem{

    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 4px 50% 4px 20px;



}

.chierarchyElemSelected{

    background-color: #b18787;


}

.chierarchyElemDragged{

    background-color: #82858a;

}


.chierarchyElemHover{

    border: 2px solid white !important;

}

.chierarchyElemNoHover{

    border: 0px solid white !important;

}


.chierarchyElemHoverTopBorder{

    border-top: 2px solid white !important;

}

.chierarchyElemHoverBottomBorder{

    border-bottom: 2px solid white !important;

}

.divisionLine{

    width:100%;
    height: 2px;
    background-color: white;

}