.main{
    width: 100%;
}

.menu{
    height: 100px;
    background: #c9dacf;
}

.section_left{
    display: inline-block;
    float: left;
    background: #9cc8ea;
    height: 800px;
    width: 250px;
}

.section_center{
    display: inline-block;
    background: #dad4d4;
    height: 800px;
    width: calc(100% - 500px);
}

.section_right{
    display: inline-block;
    float: right;
    background: #cecec3;
    height: 800px;
    width: 250px;
}